{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@components": "./compiled/components",
        "@screens": "./compiled/screens",
        "@utils": "./compiled/utils"
      }
    }]
  ]
}